<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jgarcia.presentation">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".view.activities.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>